.InfoCard {
    display : flex;
    align-items : center;
    margin: 15px;
}

/* .CardContent {
    min-height: 100px;
    min-width: 500px;
} */

.CardActions {
    display : flex;
    align-items : center;
}

.Card {
    min-height: 100px;
    min-width: 350px;
}
