.MainCard {
<<<<<<< HEAD
    margin-left: 93px;
    margin-right: 93px;
=======
    margin-left: 75px;
    margin-right: 75px;
>>>>>>> budget-page
    margin-top: 20px;
}

.Content {
    display: flex;
    flex-wrap: wrap;
}
